{% comment %}
This include will be used to define a Mathematical Definition.
{% endcomment %}

<div class="container ">
    <div class="row">
        <div class="math-definition" id="definition">
            <div class="col-1"></div>
            <div class="col-lg-auto">
                <div class="math-definition-header"
                    id="definition-header" definition="{{ chapter }}.{{ definition }}">Definition {{ chapter }}.{{ definition }}:{% if caption %} ({{caption}}){% endif %}</div>
                <div><br></div>
                <div class="math-definition-text" id="definition-text">{{ include.content }}</div>
            </div>
            <!-- <div class="col-1"></div> -->
        </div>
    </div>
</div>

{% assign definition = definition | plus: 1 %}
{% comment %}Copyright Claudio Corsi 2024{% endcomment %}
