# ignore local files
PROJECTS.txt

# ignore directory that will contain the generated static web pages
_site

# ignore all possible sub-directories that contain the generated static web pages
**/_site

# ignore all non-required ruby gem Gemfile.lock lock file since this is not required.
**/Gemfile.lock

# ignore all files that contain the test string
**/**test**

# let us not ignore the GoogleTests file
!**/googletests.md

