{%- comment %}
This include will create a citation associated with the passed reference.
Parameters:
    references - The page that contain the referencing reference
    file - The name of the reference data file that contains the citation
    key - The key associated with the citation
{%-endcomment %}
{%- if site.data.references[include.file] and site.data.references[include.file][include.key] and site.data.references[include.file][include.key].citation %} <a href="{{ include.references | relative_url }}#{{ include.key }}">{{ site.data.references[include.file][include.key].citation }}</a> {% endif %}
