{% comment %}
This include will be used to define a Mathematical Definition.
{% endcomment %}

{% comment %} Increment the definition counter.  This guarantees that definition is assigned atleast a value of 1. {% endcomment %}

{% assign definition = definition | plus: 1 %}

<div class="row">
    <div class="math-definition" id="definition">
        <div class="col-lg-auto pl-5">
            <div class="math-definition-header"
                id="definition-header" definition="{{ chapter }}.{{ definition }}">Definition {{ chapter }}.{{ definition }}:{% if include.caption %} ({{ include.caption }}){% endif %}</div>
            <div><br></div>
            <div class="math-definition-text" id="definition-text">{{ include.content }}</div>
        </div>
    </div>
</div>

{% comment %}Copyright Claudio Corsi 2024{% endcomment %}
