{% comment %}
This include will be used to define a Mathematical Lemma.
Parameters:
    caption - The lemma caption, optional
    chapter - The chapter the lemma was defined
    content - The lemma itself
    proof - The lemma's proof, optional
{% endcomment %}

{% comment %} Increment the lemma counter {% endcomment %}

{% assign lemma = lemma | plus: 1 %}
{% if include.caption %}
{% assign caption=include.caption %}
{% elsif page.caption %}
{% assign caption=page.caption %}
{% endif %}
{% if include.chapter %}
{% assign chapter=include.chapter %}
{% elsif page.chapter %}
{% assign chapter=page.chapter %}
{% endif %}

<div class="row">
    <div class="math-lemma" id="lemma">
        <div class="col-lg-auto pl-5">
            <div class="math-lemma-header"
                id="lemma-header" lemma="{{chapter}}.{{lemma}}">
                Lemma {{chapter}}.{{lemma}}: {% if caption %}({{caption}}){% endif %}
            </div>
            <div><br></div>
            <div class="math-lemma-text" id="lemma-text">
{{ include.content | newline_to_br }}
            </div>
            {% if include.proof %}
            <div><br></div>
            <div class="math-lemma-proof">
<i><b>Proof:</b></i><br>
{{ include.proof | newline_to_br }}
            </div>
            <div class="math-lemma-qed"><em>QED</em></div>
            {% endif %}
        </div>
    </div>
</div>

{% comment %} Copyright 2024 Claudio Corsi {% endcomment %}
