{% comment %}
This include file will be used to import a sidebar subbar which is basically a section
of the sidebar that could be part of one or more sidebar.  This will allow one to be
able to confine a change that might affect several sidebar into a single change that
would then be applied to all sidebars.

The subbar format is the following:

subbar:
  entries:
    - entry: Math Home
      url: /math
    - title: Submenu Title
      submenu:
        - entry: MathJax
          ext-url: https://cdn.jsdelivr.net/npm/mathjax
        - title: Subsubmenu Title
          submenu:
          - entry: Foo
            url: /foo
        - entry: Bar
          url: /bar
    - entry: Home
      url: /
    - subbar: common
{% endcomment %}

{% if include.subbar %}
{% assign entries = site.data.sidebars[include.subbar].subbar.entries %}
{% if entries %}
        {% for item in entries %}
            {% if item.entry %}
                <li>
                    <a href={% if item.url %}"{{ item.url | relative_url }}"{% elsif item.ext-url %}"{{ item.ext-url }}" target="_blank" {% else %}"#"{% endif %}>{{ item.entry }}</a>
                </li>
            {% elsif item.submenu %}
                <li>
                    {% assign title={{ item.title | default: 'Title unknown' }} %}
                    {% assign id = 'submenu-' | append: submenuId %}
                    {% include submenu.html submenu=item.submenu title=item.title id=id %}
                    {% comment %} Increment the submenuId to insure a unique element id is generated {% endcomment %}
                    {% assign submenuId = submenuId | plus: 1 %}
                </li>
            {% elsif item.subbar %}
                {% include subbar.html subbar=item.subbar %}
            {% else %}
                <!-- SUBBAR CONTAINS AN INVALID ENTRY: {{ item }} -->
            {% endif %}
        {% endfor %}
{% endif %}
{% endif %}
