{% comment %}
This include will be used to define a Mathematical Theorem.
{% endcomment %}

{% comment %}
NOTE: The following was the initial implementation of how to organize a theorem.

<div class="container">
    <div class="row">
        <div class="math-theorem" id="theorem">
            <div class="col-1"></div>
            <div class="col-lg-auto">
                <div class="math-theorem-header"
                    id="theorem-header" theorem="{{chapter}}.{{theorem}}">
                    Theorem {{chapter}}.{{theorem}}: {% if caption %}({{caption}}){% endif %}
                </div>
                <div><br></div>
                <div class="math-theorem-text" id="theorem-text">
{{ include.content | newline_to_br }}
                </div>
                {% if include.proof %}
                <div><br></div>
                <div class="math-theorem-proof">
<i><b>Proof:</b></i><br>
{{ include.proof | newline_to_br }}
                </div>
                <div class="math-theorem-qed"><em>QED</em></div>
                {% endif %}
            </div>
            <!-- <div class="col-1"></div> -->
        </div>
    </div>
</div>
{% endcomment %}

{% comment %} Increment the theorem counter {% endcomment %}

{% assign theorem = theorem | plus: 1 %}

<div class="row">
    <div class="math-theorem" id="theorem">
        <div class="col-lg-auto pl-5">
            <div class="math-theorem-header"
                id="theorem-header" theorem="{{chapter}}.{{theorem}}">
                Theorem {{chapter}}.{{theorem}}: {% if caption %}({{caption}}){% endif %}
            </div>
            <div><br></div>
            <div class="math-theorem-text" id="theorem-text">
{{ include.content | newline_to_br }}
            </div>
            {% if include.proof %}
            <div><br></div>
            <div class="math-theorem-proof">
<i><b>Proof:</b></i><br>
{{ include.proof | newline_to_br }}
            </div>
            <div class="math-theorem-qed"><em>QED</em></div>
            {% endif %}
        </div>
    </div>
</div>

{% comment %} Copyright 2024 Claudio Corsi {% endcomment %}
