/*
This file contains the code class settings that will be generated whenever we use the internal
markdown code block option.
 */

code > .kd {
    color: red;
}

code > .nc {
    color: blue;
}

code > .n {
    color: blueviolet;
}

code > .kt {
    color: green;
}

code > .k {
    color: lightcoral;
}

code > .cm {
    color: green
}

div.highlight {
    background-color: lightgrey;
    border-width: thick;
    border-color: black;
}
