# These are all the files that are copied from the documentation Jekyll theme
404.md
feed.xml
search.json
sitemap.xml
tooltips.html
tooltips.json

_includes/archive.html
_includes/callout.html
_includes/commento.html
_includes/feedback.html
_includes/footer.html
_includes/google_analytics.html
_includes/head.html
_includes/head_print.html
_includes/image.html
_includes/important.html
_includes/initialize_shuffle.html
_includes/inline_image.html
_includes/links.html
_includes/note.html
_includes/sidebar.html
_includes/taglogic.html
_includes/tip.html
_includes/toc.html
_includes/topnav.html
_includes/warning.html

_layouts/default.html
_layouts/default_print.html
_layouts/none.html
_layouts/page.html
_layouts/page_print.html
_layouts/post.html

_tooltips/baseball.html
_tooltips/basketball.html
_tooltips/football.html
_tooltips/soccer.html

css/bootstrap.min.css
css/boxshadowproperties.css
css/customstyles.css
css/font-awesome.min.css
css/modern-business.css
css/printstyles.css
css/syntax.css
css/theme-blue.css
css/theme-green.css

css/fonts/FontAwesome.otf
css/fonts/fontawesome-webfont.eot
css/fonts/fontawesome-webfont.svg
css/fonts/fontawesome-webfont.ttf
css/fonts/fontawesome-webfont.woff
css/fonts/glyphicons-halflings-regular.eot
css/fonts/glyphicons-halflings-regular.svg
css/fonts/glyphicons-halflings-regular.ttf
css/fonts/glyphicons-halflings-regular.woff
css/fonts/glyphicons-halflings-regular.woff2

images/androidsdkmanagericon.png
images/authorizegithubscreen2.png
images/authorizeongithub.png
images/company_logo.png
images/company_logo_big.png
images/favicon.ico
images/helpapi-01.png
images/helpapi.svg
images/illustratoroptions.png
images/itermexample.png
images/jekyll.png
images/killalljekyll.png
images/liningup.png
images/workflowarrow.png

js/customscripts.js
js/jekyll-search.js
js/jquery.ba-throttle-debounce.min.js
js/jquery.navgoco.min.js
js/jquery.shuffle.min.js
js/toc.js
